/* Splash Logo */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);
.text {
  fill: none;
  stroke-width: 4;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}

.text:nth-child(5n + 1) {
  stroke: #F2385A;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}

.text:nth-child(5n + 2) {
  stroke: #F5A503;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}

.text:nth-child(5n + 3) {
  stroke: blue;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}

.text:nth-child(5n + 4) {
  stroke: #56D9CD;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}

.text:nth-child(5n + 5) {
  stroke: #3AA1BF;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}
/* Other styles */

html,
body {
  height: 100%;
}

#regex-rocks {
	background: #DBFCFF;
	background-size: 5em 100%;
	font: 5.5em/1 Open Sans, Impact;
	text-transform: uppercase;
	margin: 0;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

/*end splash logo*/

.all-puzzles {
	display: flex;
	flex-direction: column;
	max-width: 800px;
	margin-top: 5px;
	z-index: 3;
	vertical-align: center;
	text-align: center;
	position: absolute;
	margin-left: 30%;
	margin-right: 30%;
	width: 40%;
	background-color: green;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	border: 0px solid #000000;
	opacity: 1;
	color: white;
	text-shadow:2px 2px 4px black;
	-webkit-box-shadow: 11px 10px 28px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 11px 10px 28px 0px rgba(0,0,0,0.75);
	box-shadow: 11px 10px 28px 0px rgba(0,0,0,0.75);
/*	font-size: 8px;
	font-family: 'Press Start 2P', cursive;*/
}


.container {
	display: flex;
	flex-direction: column;
	max-width: 800px;
	margin-top: 5px;
	z-index: 3;
	vertical-align: center;
	position: absolute;
	margin-left: 30%;
	margin-right: 30%;
	width: 40%;
	font-size: 2em;
}

.container-bottom {
	display: flex;
	flex-direction: column;
	/*max-width: 800px;*/
	margin-top: 200px;
	z-index: 3;
	text-align: center;
	padding-left: 50px;
	/*vertical-align: center;*/
	position: absolute;
	margin-left: 30%;
	margin-right: 30%;
	width: 40%;
	font-family: 'Press Start 2P', cursive;
	font-size: 2vw;
}

.login-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(242,246,248,1);
	background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 7%, rgba(181,198,208,1) 10%, rgba(183,200,209,1) 18%, rgba(224,239,249,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(7%, rgba(216,225,231,1)), color-stop(10%, rgba(181,198,208,1)), color-stop(18%, rgba(183,200,209,1)), color-stop(100%, rgba(224,239,249,1)));
	background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 7%, rgba(181,198,208,1) 10%, rgba(183,200,209,1) 18%, rgba(224,239,249,1) 100%);
	background: -o-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 7%, rgba(181,198,208,1) 10%, rgba(183,200,209,1) 18%, rgba(224,239,249,1) 100%);
	background: -ms-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 7%, rgba(181,198,208,1) 10%, rgba(183,200,209,1) 18%, rgba(224,239,249,1) 100%);
	background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 7%, rgba(181,198,208,1) 10%, rgba(183,200,209,1) 18%, rgba(224,239,249,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0 );

}

.box {
 	max-width: 100%;
 	text-align: center;
}

/*.bottom-bar {
 	max-width: 50%;
 	text-align: center;
}*/

div.c1 {
	display: flex;
	background: #127C22;
	/*font-family: 'Bangers', cursive;*/
	font-family: 'Press Start 2P', cursive;
	font-size: .5em;
	width: 100%;
	justify-content: space-around;
	/*border-radius: 25px;*/
	border: 2px solid;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	/*border-top-left-radius: 2em 0.5em;*/
	color: black;
	text-shadow:2px 2px 4px white;
}

span.r1 {
	background: #127C22;
	color: white;
	text-shadow:2px 2px 4px black;
	align-self: center;
	padding: 10px;
	flex-grow: 2;
	text-align: center;
	margin-left: 17%;
	font-size: 1.75em;


}

span.r2 {
	background: #127C22;
	align-self: center;
	padding: 10px;
	border-top-right-radius: 25px;
}

.c2 {
	background-color: #FFBAAA;
	padding: 10px;
	max-width: 800px;
	font-size: 32px;
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
}

.c3 {
	background-color: #FFBAAA;
	padding: 6px;
	font-weight: bold;
	text-align: center;
	font-family: 'Oxygen', sans-serif;
}

.c4 {
	position: relative;
	background-color: #5D94FB;
	/*#ecf0f1*/

	padding: 10px;
	text-align: center;
	font-weight: bold;
	font-family: 'Oxygen', sans-serif;
}

.c5 {
	/*z-index: 100;*/
	background-color: #5D94FB;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	font-family: 'Candal', sans-serif;
}

.c6 {
	background-color: #5D94FB;
	padding: 10px;
	text-align: center;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	font-weight: bold;
	font-family: 'Candal', sans-serif;
}

.c7 {
	background-color: #5D94FB;
	padding: 10px;
	text-align: center;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	font-weight: bold;
	font-family: 'Candal', sans-serif;
}

.hide {
	visibility: hidden;
}

.correct {
  -webkit-animation-name: correct;
  animation-name: correct;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes correct {
	0% {
		background-color: none;
	}
	10% {
		background-color: #127C22;
	}
	60% {
		background-color: none;
	}
}

@keyframes correct {
	0% {
		background-color: none;
	}
	10% {
		background-color: #127C22;
	}
	60% {
		background-color: none;
	}
}

.wrong {
  -webkit-animation-name: wrong;
  animation-name: wrong;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes wrong {
	0% {
		background-color: none;
	}
	10% {
		background-color: red;
	}
	60% {
		background-color: none;
	}
}

@keyframes wrong {
	0% {
		background-color: none;
	}
	10% {
		background-color: red;
	}
	60% {
		background-color: none;
	}
}

@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
/*  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;*/
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
  }
}

/*********************************************************************/
#status {
	padding: 10px;
	text-align: left;
	color: #CC4B09;
}	

#hamburger {
	padding: 10px;
	text-align: right;
	color: #CC4B09;
}	

#menu {
	padding: 10px;
	text-align: right;
	color: #CC4B09;
}	

.flex-menu-container {
	display: flex;
	justify-content: flex-end;
}

.flex-menu {
   padding: 10px;
   /*text-align: right;*/
   color: #CC4B09;
}

.fa-3x {
  font-size: 2em !important;
}

/*************************/

.animate-show {
  -webkit-transition:all linear .3s;
  transition:all linear .3s;
  opacity:1;
}
 
.animate-show.ng-hide {
  opacity:0;
}

.angular-with-newlines {
    white-space: pre-wrap;
}

/*MOVING BACKGROUND ***************************************************/

.scroll{
	z-index: 1;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	zoom: 50%;
	width: 10000px;
	height: 500px;
	margin:0;
	padding:0;
	font-family:"arial",heletica,sans-serif;
	font-size:12px;
    background: #2980b9 url('../images/game-scroll.jpg') repeat 0 0;
	-webkit-animation: 30s linear 0s normal none infinite animate;
	-moz-animation: 30s linear 0s normal none infinite animate;
	-ms-animation: 30s linear 0s normal none infinite animate;
	-o-animation: 30s linear 0s normal none infinite animate;
	animation: 30s linear 0s normal none infinite animate;
 
}

@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: -800px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: -800px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: -800px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: -800px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: -800px 0;}
}

.scroll-slow{
	z-index: 1;
	overflow: hidden;
	position: fixed;
	bottom: 500px;
	zoom: 50%;
	width: 10000px;
	height: 161px;
	margin:0;
	padding:0;
	font-family:"arial",heletica,sans-serif;
	font-size:12px;
    background: #2980b9 url('../images/game-scroll-top.jpg') repeat 0 0;
	-webkit-animation: 50s linear 0s normal none infinite animate;
	-moz-animation: 50s linear 0s normal none infinite animate;
	-ms-animation: 50s linear 0s normal none infinite animate;
	-o-animation: 50s linear 0s normal none infinite animate;
	animation: 50s linear 0s normal none infinite animate;
 
}

@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: -800px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: -800px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: -800px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: -800px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: -800px 0;}
}
/************************************************************************************************************************/

body {
	background-color: #DBFCFF;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #CC4B09;
}

.shake {
  -webkit-animation: .5s linear 0s normal none 1 shake;
  -moz-animation: .5s linear 0s normal none 1 shake;
  -ms-animation: .5s linear 0s normal none 1 shake;
  -o-animation: .5s linear 0s normal none 1 shake;
  animation: .5s linear 0s normal none 1 shake;
}

.shake-again {
  -webkit-animation: .5s linear 0s normal none 1 shake;
  -moz-animation: .5s linear 0s normal none 1 shake;
  -ms-animation: .5s linear 0s normal none 1 shake;
  -o-animation: .5s linear 0s normal none 1 shake;
  animation: .5s linear 0s normal none 1 shake;
}

@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 70%, 90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  20%, 40%, 80% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  5%, 30%, 70%, 90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  20%, 40%, 80% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}

.animate-enter {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}
 
.animate-enter.animate-enter-active {
	opacity: 1;
}

div.a {
z-index: 2;
bottom: 55px;
width: 40px;
height:34px;
content:url(../images/turtle-shell.png);
position:fixed;
    
}

#box-wrap-inner {
	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: inline-axis;
	-moz-box-orient: inline-axis;
	box-orient: inline-axis;

	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;

	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation: .5s linear 0s normal none infinite pulse;
  -moz-animation: .5s linear 0s normal none infinite pulse;
  -ms-animation: .5s linear 0s normal none infinite pulse;
  -o-animation: .5s linear 0s normal none infinite pulse;
  animation: .5s linear 0s normal none infinite pulse;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  animation-duration: 1.4s;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
 60% {
 	opacity: 0;
 }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
 60% {
 	opacity: 0;
 }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}



