	<div class="container">
		<svg viewBox="0 0 1100 150" id="regex-rocks">

		  <!-- Symbol -->
		  <symbol id="s-text">
		    <text text-anchor="middle"
		            x="50%" y="50%" dy=".35em">
		       RegEx Rocks
		     </text>
		  </symbol>

		  <!-- Duplicate symbols -->
		  <use xlink:href="#s-text" class="text"
		            ></use>
		  <use xlink:href="#s-text" class="text"
		            ></use>
		  <use xlink:href="#s-text" class="text"
		            ></use>
		  <use xlink:href="#s-text" class="text"
		            ></use>
		  <use xlink:href="#s-text" class="text"
		            ></use>

		</svg>

		<div>
			Regular Expressions are super useful. They can also be complicated and sometimes look like a cat walked across a keyboard. You're about to learn how to use RegEx better than you ever though possible. Are you READY TO ROCK?
		</div>
		<!-- <button ng-click="changeView('/allPuzzles')">READY TO ROCK</button> -->
	</div>

<div class="container-bottom fadeInUp">
	<ul>
		<li>Learn RegEx!</li>
		<li>Complete Puzzles</li>
		<li>Test yourself </li>
		<li>Save Progress</li>
		<li>Conquer the World</li>
	</ul>
	<div> <button class="waves-effect waves-light btn-large pulse" ng-click="changeView('/allPuzzles')">READY TO ROCK</button></div>
</div>
